# Learning Azure SQL - My First Notebook

This is a demo SQL notebook.

Please attach to an existing Azure SQL Database and proceed with following steps;

## Step 1: Create starting tables

In [ ]:
DROP TABLE IF EXISTS Person;

-- Create Person table
CREATE TABLE Person
(
    PersonId INT IDENTITY PRIMARY KEY,
    FirstName VARCHAR(128) NOT NULL,
    LastName VARCHAR(128) NOT NULL,
    DateOfBirth DATE NOT NULL
)

## Step 2: Insert and select some rows

In [ ]:
INSERT INTO Person (FirstName, LastName, DateOfBirth) 
VALUES ('Andrea', 'Fumagalli', '1982-02-03')

In [ ]:
SELECT * FROM Person
ORDER BY PersonId DESC

## Step 3: Alter table (adding columns)

In [ ]:
ALTER TABLE Person ADD 
    Email VARCHAR(128) NULL,
    LastUpdate DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP